In [2]:
# Q 1
# #Write a program which will find all such numbers which are divisible by 7 but are not a multiple
# of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
# comma-separated sequence on a single line.

In [3]:
x = []
for num in range(2000,3201):
    if num % 7 == 0 and num % 5 != 0:
        x.append(num)
print(x)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [4]:
# Q 2
# Write a Python program to accept the user's first and last name and then getting them printed in
# the the reverse order with a space between first name and last name.

In [6]:
Name = input("What is your full name(firstname lastname)?")
nm = Name.split()
print(nm[1] + ' ' + nm[0])

What is your full name(firstname lastname)? yashwant prajapati

prajapati yashwant

In [7]:
# Q 3
# Write a Python program to find the volume of a sphere with diameter 12 cm.
# Formula: V=4/3 * Ï€ * r 3

In [8]:
r=12/2 # radius
V = 4/3 * 3.14 * r**3
V

904.3199999999999

In [9]:
# Q 4
# Write a program which accepts a sequence of comma-separated numbers from console and
# generate a list.

In [10]:
y = []
x = input("Enter any sequence of comma separated numbers:")
for val in x:
    if val != ',' and val != ' ':
        y.append(int(val))
print(y)

Enter any sequence of comma separated numbers: 2,3,4,6,8,1

[2, 3, 4, 6, 8, 1]

In [11]:
# Q 5
# Create the below pattern using nested for loop in Python.
# *
# * *
# * * *
# * * * *
# * * * * *
# * * * *
# * * *
# * *
# *

In [12]:
for i in range(1,6):
    if i !=5:
        print('*'*(i))
    else:
        for j in range(5):
            print('*'*(i-j))

*
**
***
****
*****
****
***
**
*

In [13]:
# Q 6
# Write a Python program to reverse a word after accepting the input from the user.
# Sample Output:
# Input word: England
# Output: dnalgnE

In [14]:
word = input("Enter any word here:")
print(word[::-1])

Enter any word here: England

dnalgnE

In [15]:
# Q 7
# Write a Python Program to print the given string in the format specified in the sample output.
# WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
# SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
# its citizens
# Sample Output:
# WE, THE PEOPLE OF INDIA,
#       having solemnly resolved to constitute India into a SOVEREIGN, !
#              SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
#               and to secure to all its citizens

In [16]:
p="""WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens"""
q=p.split(',')
q2=q[2].split("\n")
q5=q[5].split()
print(q[0].strip() + ',' + q[1] + ',' + "\n     " + q2[0] + ' '
      + q2[1].strip() + ', !' + "\n\t    " + q[3] + ',' + q[4] + ', ' + q5[0] + ' ' 
      + q5[1] + "\n\t      " + ' '.join(q5[2:]))

WE, THE PEOPLE OF INDIA,
      having solemnly resolved to constitute India into a SOVEREIGN, !
	     SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
	      and to secure to all its citizens